.csvm-message-container .csvm-notice{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-right:1.25rem;
    margin-top:1rem;
}

.csvm-message-container .csvm-alert{
    background-color: #fff3cd;
    color: #856404;
    border-color: #ffeeba;
}

.csvm-message-container .csvm-success{
    background-color:#d4edda;
    color: #155724;
    border-color:#c3e6cb;
}

.csvm-message-container .csvm-error{
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.csvm-form-group{
    margin-bottom: 10px;
}

.csvm-form-group label{
    display:block;
    margin-bottom: 10px;
}

.csvm-form-group input{
    display:block;
}

.csvm-button{
    display: block;
    margin-top:15px !important;
}

.csvm-d-none{
    display:none;
}

.csvm-map-group{
    display:flex;
    border: 1px dotted #000;
    padding: 0 10px;
    width:80%;
}

.csvm-map-cell{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 33.3;
    width: 100%;
}

.csvm-map-cell:last-child{
    flex: 20;
}

.csvm-inline-form-group{
    display:flex;
    align-items: center;
}

.csvm-field-list{
    background-color: #b1e8ac;
    padding:5px 15px;
    width:80%
}

.csvm-field-list p{
    margin: 10px 0;
    border: 1px solid red;
    padding: 2px 3px;
}